/* Header */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 3rem 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

  img {
    height: 40px;
    width: 40px;
  }
}

/* Nav */
header nav {
  display: none;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;

  li a {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    transition: all 0.3s;

    &:hover {
      color: black;
      background-color: #eeeeee7e;
    }
  }
}

/* Start Button */
header .start {
  display: none;
}

/* Burguer */
header .burguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 40px;
  width: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 0;

  .line {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 1px;
  }
}

@media (min-width: 1024px) {
  header nav {
    display: block;
  }

  header .start {
    display: flex;
  }

  header .burguer {
    display: none;
  }
}
