/* Header */
header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 3rem 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

  img {
    height: 40px;
    width: 40px;
  }
}

/* Nav */
header nav {
  display: none;
}
header nav.open {
  display: block;
}

header nav ul {
  position: absolute;
  top: 70px;
  right: 2rem;
  display: flex;
  flex-direction: column;
  width: 260px;
  list-style: none;
  border: 2px solid rgba(0, 0, 0, 0.25);

  li a {
    display: flex;
    align-items: center;
    background-color: white;
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    transition: all 0.3s;

    &:hover {
      color: black;
      background-color: #dddddd;
    }
  }
}

/* Start Button */
header .start {
  display: none;
}

/* Burguer */
header .burguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 40px;
  width: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 0;

  .line {
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    transition: all 0.3s;
  }
}
header .burguer.open {
  background-color: white;
  border: 2px solid #555;

  .line {
    background-color: #555;
  }

  .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  &:hover {
    background-color: #dddddd;
  }
}

@media (min-width: 1024px) {
  header nav {
    display: block;
  }

  header nav ul {
    position: relative;
    top: 0;
    flex-direction: row;
    gap: 30px;
    width: auto;
    border: 0;

    li a {
      background-color: transparent;
      padding: 0.4rem 1.2rem;
      border-radius: 0.4rem;

      &:hover {
        background-color: #eeeeee7e;
      }
    }
  }

  header .start {
    display: flex;
  }

  header .burguer {
    display: none;
  }
}
