/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/* Main Conetent */
main .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 1.8rem);
  width: 100%;
  max-width: 900px;

  .version {
    color: #ff3131;
    font-size: 0.8rem;
  }

  h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3.5rem);
  }

  h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at center,
      rgba(255, 49, 49, 0.1) 0%,
      rgba(255, 49, 49, 0.05) 50%,
      transparent 50%
    );
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    filter: blur(12px);
  }

  h2 {
    color: #555;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: lighter;
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
}
