* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 60px 60px;
}

.btn {
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #ff3131;
  color: white;

  &:hover {
    background-color: #cd2828;
  }
}
